# Configuration file

entitiesalwaysinfernal {
    B:BetterSpiderEntity=false
    B:EntityAshen=false
    B:EntityBlueSlime=false
    B:EntityCreeper=false
    B:EntityCustom=false
    B:EntityDweller=false
    B:EntityEnderman=false
    B:EntityEndermite=false
    B:EntityFrostmaw=false
    B:EntityGaiaAnt=false
    B:EntityGaiaAntRanger=false
    B:EntityGaiaAnubis=false
    B:EntityGaiaArachne=false
    B:EntityGaiaBanshee=false
    B:EntityGaiaBoneKnight=false
    B:EntityGaiaCecaelia=false
    B:EntityGaiaCreep=false
    B:EntityGaiaDeathword=false
    B:EntityGaiaDullahan=false
    B:EntityGaiaFleshLich=false
    B:EntityGaiaGelatinousSlime=false
    B:EntityGaiaKobold=false
    B:EntityGaiaMandragora=false
    B:EntityGaiaMatango=false
    B:EntityGaiaMinotaurus=false
    B:EntityGaiaMummy=false
    B:EntityGaiaNaga=false
    B:EntityGaiaSelkie=false
    B:EntityGaiaSharko=false
    B:EntityGaiaSiren=false
    B:EntityGaiaSludgeGirl=false
    B:EntityGaiaSpriggan=false
    B:EntityGaiaToad=false
    B:EntityGaiaWerecat=false
    B:EntityGaiaWitch=false
    B:EntityGaiaYeti=false
    B:EntityGorgon=false
    B:EntityGrottol=false
    B:EntityHusk=false
    B:EntityHydra=false
    B:EntityMimic=false
    B:EntitySkeleton=false
    B:EntitySlime=false
    B:EntityStymphalianBird=false
    B:EntityTroll=false
    B:EntityWitch=false
    B:EntityWroughtnaut=false
    B:EntityZombie=false
    B:EntityZombieVillager=false
}


entitybasehealth {
    D:BetterSpiderEntity=16.0
    D:EntityAshen=20.0
    D:EntityCreeper=20.0
    D:EntityCustom=12.0
    D:EntityDweller=20.0
    D:EntityFrostmaw=250.0
    D:EntityGaiaAntRanger=40.0
    D:EntityGaiaArachne=40.0
    D:EntityGaiaBoneKnight=80.0
    D:EntityGaiaCecaelia=40.0
    D:EntityGaiaCreep=40.0
    D:EntityGaiaDeathword=40.0
    D:EntityGaiaFleshLich=80.0
    D:EntityGaiaNaga=80.0
    D:EntityGaiaSelkie=40.0
    D:EntityGaiaSiren=40.0
    D:EntityGaiaSludgeGirl=40.0
    D:EntityGrottol=20.0
    D:EntityHydra=200.0
    D:EntityMimic=50.0
    D:EntitySkeleton=40.0
    D:EntityStymphalianBird=24.0
    D:EntityTroll=50.0
    D:EntityWitch=26.0
    D:EntityWroughtnaut=40.0
    D:EntityZombie=40.0
    D:EntityZombieVillager=20.0
}


general {
    I:AntiMobFarmCheckInterval=30
    B:AntiMobfarmingEnabled=true
    B:"MM_1UP enabled"=true
    B:"MM_Alchemist enabled"=true
    B:"MM_Berserk enabled"=true
    B:"MM_Blastoff enabled"=true
    B:"MM_Bulwark enabled"=true
    B:"MM_Choke enabled"=true
    B:"MM_Cloaking enabled"=true
    B:"MM_Darkness enabled"=true
    B:"MM_Ender enabled"=true
    B:"MM_Exhaust enabled"=true
    B:"MM_Fiery enabled"=true
    B:"MM_Ghastly enabled"=true
    B:"MM_Gravity enabled"=true
    B:"MM_Lifesteal enabled"=true
    B:"MM_Ninja enabled"=true
    B:"MM_Poisonous enabled"=true
    B:"MM_Quicksand enabled"=true
    B:"MM_Regen enabled"=true
    B:"MM_Rust enabled"=true
    B:"MM_Sapper enabled"=true
    B:"MM_Sprint enabled"=true
    B:"MM_Sticky enabled"=true
    B:"MM_Storm enabled"=true
    B:"MM_Vengeance enabled"=true
    B:"MM_Weakness enabled"=true
    B:"MM_Webber enabled"=true
    B:"MM_Wither enabled"=true

    # List of DimensionIDs where InfernalMobs will NEVER spawn
    S:dimensionIDBlackList=

    # Disables the ingame Health and Name overlay
    B:disableGUIoverlay=false

    # List of equally likely to drop Items for Elites, seperated by commas, syntax: ID-meta-stackSize-stackSizeRandomizer, everything but ID is optional, see changelog
    S:droppedItemIDsElite=iron_shovel,iron_pickaxe,iron_axe,iron_sword,iron_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,cookie-0-6

    # List of equally likely to drop Items for Infernals, seperated by commas, syntax: ID-meta-stackSize-stackSizeRandomizer, everything but ID is optional, see changelog
    S:droppedItemIDsInfernal=diamond-0-3,diamond_sword,diamond_shovel,diamond_pickaxe,diamond_axe,diamond_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,diamond_helmet,diamond_chestplate,diamond_leggings,diamond_boots,ender_pearl,enchanted_book

    # List of equally likely to drop Items for Ultras, seperated by commas, syntax: ID-meta-stackSize-stackSizeRandomizer, everything but ID is optional, see changelog
    S:droppedItemIDsUltra=bow,iron_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,golden_helmet,golden_chestplate,golden_leggings,golden_boots,golden_apple,blaze_powder-0-3,enchanted_book

    # One in THIS many Mobs will become atleast rare
    I:eliteRarity=15

    # One in THIS many already ultra Mobs will become infernal
    I:infernoRarity=7

    # highest amount of damage an Infernal Mob or reflecting Mod will do in a single strike
    D:maxOneShotDamage=10.0
    D:mobFarmDamageThreshold=150.0

    # Multiplier applied ontop of all of the modified Mobs health
    S:mobHealthFactor=1.0

    # One in THIS many already rare Mobs will become atleast ultra
    I:ultraRarity=7

    # Use Entity class names instead of ingame Entity names for the config
    B:useSimpleEntityClassnames=true
}


permittedentities {
    B:BetterSpiderEntity=true
    B:EntityAshen=true
    B:EntityBlueSlime=true
    B:EntityCreeper=true
    B:EntityCustom=true
    B:EntityDweller=true
    B:EntityEnderman=true
    B:EntityEndermite=true
    B:EntityFrostmaw=true
    B:EntityGaiaAnt=true
    B:EntityGaiaAntRanger=true
    B:EntityGaiaAnubis=true
    B:EntityGaiaArachne=true
    B:EntityGaiaBanshee=true
    B:EntityGaiaBoneKnight=true
    B:EntityGaiaCecaelia=true
    B:EntityGaiaCreep=true
    B:EntityGaiaDeathword=true
    B:EntityGaiaDullahan=true
    B:EntityGaiaFleshLich=true
    B:EntityGaiaGelatinousSlime=true
    B:EntityGaiaKobold=true
    B:EntityGaiaMandragora=true
    B:EntityGaiaMatango=true
    B:EntityGaiaMinotaurus=true
    B:EntityGaiaMummy=true
    B:EntityGaiaNaga=true
    B:EntityGaiaSelkie=true
    B:EntityGaiaSharko=true
    B:EntityGaiaSiren=true
    B:EntityGaiaSludgeGirl=true
    B:EntityGaiaSpriggan=true
    B:EntityGaiaToad=true
    B:EntityGaiaWerecat=true
    B:EntityGaiaWitch=true
    B:EntityGaiaYeti=true
    B:EntityGorgon=true
    B:EntityGrottol=true
    B:EntityHusk=true
    B:EntityHydra=true
    B:EntityMimic=true
    B:EntitySkeleton=true
    B:EntitySlime=true
    B:EntityStymphalianBird=true
    B:EntityTroll=true
    B:EntityWitch=true
    B:EntityWroughtnaut=true
    B:EntityZombie=true
    B:EntityZombieVillager=true
}


